body{
    background-color: rgb(48, 48, 48);
}

.flexcol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flexrow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.hidden{ display: none !important; }

.addmenu{
    user-select: none;
    display: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(129, 129, 129);
    border: 2px solid rgb(22, 22, 22);
    cursor: pointer;
}

.addmenu:hover{
    background-color: rgb(168, 168, 168);
}