*{
    color:white;
    background-color: #1D2A35;
    margin: 0;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }

input::selection{ background-color: rgb(110, 110, 110); }

.select-component{
    margin: 0;
    padding: 0;
    outline: none;
    border: 1px solid black;
    width: 80%;
    margin: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
    text-align: center;
}

/*MARGIN TOP*/
.mt5{ margin-top: 5px !important; }
.mt10{ margin-top: 10px !important; } .mt20{ margin-top: 20px !important; } .mt30{ margin-top: 30px !important; } .mt40{ margin-top: 40px !important; }
.mt50{ margin-top: 50px !important; } .mt60{ margin-top: 60px !important; } .mt70{ margin-top: 70px !important; } .mt80{ margin-top: 80px !important; }

/*MARGIN LEFT*/
.ml5{ margin-left: 5px !important; } .ml10{ margin-left: 10px !important; } .ml20{ margin-left: 20px !important; }
.ml30{ margin-left: 30px !important; } .ml40{ margin-left: 40px !important; } .ml50{ margin-left: 50px !important; }

/*MARGIN RIGHT*/
.mr5{ margin-right: 5px !important; } .mr10{ margin-right: 10px !important; } .mr20{ margin-right: 20px !important; }
.mr30{ margin-right: 30px !important; } .mr40{ margin-right: 40px !important; } .mr50{ margin-right: 50px !important; }

/*MARGIN BOTTOM*/
.mb5 { margin-bottom: 5px !important; }
.mb10{ margin-bottom: 10px !important; } .mb20{ margin-bottom: 20px !important; } .mb30{ margin-bottom: 30px !important; }
.mb40{ margin-bottom: 40px !important; } .mb50{ margin-bottom: 50px !important; } .mb60{ margin-bottom: 60px !important; }

/* MARGIN TOP & BOTTOM */
.m5 { margin: 5px !important;}
.m10 { margin: 10px !important;}

.hidden{ display: none !important; }
.bradius{ border-radius: 7px !important; }
.cursorpointer{ cursor:pointer; }

body{
    overflow: hidden;
}

::selection{ background-color: rgb(161, 161, 161); }

.cursors-container{
    height: 150px;
    overflow-y: auto;
}

.list-container{
    height: auto;
    overflow-y: auto;
}

.list-container span:hover{
    cursor: pointer;
}

#show_hover_params{
    text-align: center;
}

.textcenter{
    text-align: center !important;
}

.borderhover:hover{
    box-shadow: 0 0 0 2px rgb(255, 153, 0);
}

.block { display: block; }

.span-none { cursor: none;}
.span-default { cursor: default; }
.span-pointer{ cursor: pointer; }
.span-wait { cursor: wait; }
.span-progress { cursor: progress; }
.span-text { cursor: text; }
.span-help { cursor: help; }
.span-move { cursor: move; }
.span-crosshair { cursor: crosshair; }
.span-copy { cursor: copy; }
.span-grab { cursor: grab; }
.span-nodrop { cursor: no-drop; }
.span-zoomin { cursor:zoom-in; }
.span-zoomout { cursor:zoom-out; }

input{ 
    background-color: rgb(155, 155, 155); 
    accent-color: rgb(255, 166, 0);
    outline: none;
}

input:hover{
    background-color: rgb(192, 192, 192); 
}

.navbar{
    background-color: #3b4d5e;
    padding: 5px;
    height: 30px;
}

.navlink{
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    user-select: none;
    background: none;
}

.navlink:hover{
    cursor: pointer;
    border: 2px solid rgb(43, 43, 43);
    border-radius: 5px;
}

.navlink:active{
    border: 2px solid rgb(43, 43, 43);
    border-radius: 5px;
}

.linkbox{
    margin: 5px;
    transition: .3s;
    user-select: none;
    background: none;
}

.linkbox:hover{
    cursor: pointer;
    color:rgb(255, 115, 0);
    transition: .3s;
}

.item{
    border-radius: 50%;
    transform: rotateZ(180deg);
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    cursor:pointer;
}

.arrow{
    width: 0;
    height: 0;
    border: 150px solid transparent;
    border-top: 0;
    border-bottom: 300px solid red;
}

#codespace { transition: transform 0.5s ease,  opacity 0.5s ease; }

@media screen and (max-width: 1300px) {
    #codespace {
        transform: scale(0.7) translateX(-70%);
    }
}

@media screen and (max-width: 700px){
    #codespace {
        opacity: 0;
    }
}

.flexcol{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hovertranslate{transform-origin: center;}
.hovertranslate:hover{ animation: hovertranslate 0.5s infinite; }

@keyframes hovertranslate {
    
    0%{
        transform: rotateZ(0);
    }
    50%{
        transform: rotateZ(2deg);
    }
    100%{
        transform: rotateZ(-2deg);
    }
}

.flexrow{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.justifycenter{
    justify-content: center;
}

.spacebetween{
    justify-content: space-between;
}

.header{
    display: block;
    color:#1D2A35 !important;
    background-color: orange !important;
}

.leftpanel{
    top: 50px;
    z-index: 10;
    position: fixed;
    left: 20px;
    padding: 5px;
    max-height: 100vh;
    overflow-y: auto;
}

.rightpanel{
    top: 50px;
    width: 230px;
    z-index: 10;
    position: fixed;
    right: 20px;
    max-height: 90vh;
    overflow-y: auto;
}

.centerscreen{
    position: fixed;
    top:  30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.panel-container{
    box-shadow: 1px 1px 2px rgb(41, 41, 41);
    border: 1px solid rgb(248, 165, 40);
    user-select: none;
}

.panel-header{
    user-select: none;
    text-align: center;
    background-color: orange;
    width: 100%;
    padding: 0;
    font-size: 20px;
    color:black;
}

.widget-container{
    box-shadow: 1px 1px 2px rgb(41, 41, 41);
    border: 1px solid rgb(248, 165, 40);
    user-select: none;
}

.params-container{
    box-shadow: 1px 1px 2px rgb(41, 41, 41);
    border: 1px solid rgb(248, 165, 40);
    user-select: none;
}

.codespace{
    position: fixed;
    border: 1px solid rgb(248, 165, 40);
    margin-left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}

.code-area{
    margin: 10px;
    width: 500px;
    height: 250px;
    resize: none;
    overflow-y: scroll;
    background-color: rgb(112, 112, 112);
    border: 2px solid rgb(44, 44, 44);
}

.copy-btn{
    cursor: pointer;
    font-weight: bold;
    color: rgb(112, 112, 112);
    background-color: white;
    border: 1px solid rgb(112, 112, 112);
    transition: .3s;
}

.copy-btn:hover{
    transition: .3s;
    color: white;
    background-color: rgb(112, 112, 112);
}